/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.default{
    margin: 0 14rem;
}

header{
    background-color: #add8e6;
    width: 100%;
    height: 30rem;
    justify-content: center;
    align-items: flex-start; 
    padding-top: 1rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    min-width: 63rem;
}

.first-div-header{
    justify-content: center;
    align-items: center; 
    height: 10%;
    width: 100%;
    min-width: 63rem;
}

.second-div-header{
    background-color: #ee82ee;
    margin: 2rem 25rem 2rem 25rem;
    height: 80%;
    min-width: 39.65rem;
}

.square-big-gray{
    background-color: #1e90ff;
    width: 45rem;
    height: 20rem;
    border: 1px black solid;
    margin-right: 14rem;
}

.square-big{
    background-color: #1e90ff;
    width: 45rem;
    height: 20rem;
    border: 1px black solid;
}

.square-small{
    background-color: #ffc0cb;
    width: 30rem;
    height: 20rem;
    border: 1px black solid;
}

.square-small-gray{
    background-color: #ffc0cb;
    width: 30rem;
    height: 20rem;
    border: 1px black solid;
    margin-left: 14rem;
}

.dimension-section1{
    height: 30rem;
    padding: 3rem 0;
    justify-content: center;
    align-items: center;
}

#dimension-section1-gray{
    background-color: #d3d3d3;
}

.dimension-section2{
    height: 50rem;
    padding: 3rem 0;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
}

.big-square-of-section2{
    background-color: #228b22;
    width: 75rem;
    height: 40rem;
    border: 1px black solid;
    margin: 0 14rem;
}

#titolo-centrale{
    height: 80%;
}

#logo{
    width: 20%;
    text-align: start;
    background-color: #daa520;
    border: 1px black dashed;
    height: 1.6rem;
}

#link{
    width: 80%;
    text-align: center;
    background-color: #daa520;
    border: 1px black dashed;
    height: 1.6rem;
}

#login{
    width: 20%;
    text-align: end;
    background-color: #daa520;
    border: 1px black dashed;
    height: 1.6rem;
} 

