/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.default{
    margin: 0 14rem;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    width: 100%;
    height: 30rem;
    justify-content: center;
    align-items: flex-start; 
    padding-top: 1rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    min-width: 63rem;

}

.first-div-header{
    justify-content: center;
    align-items: center; 
    height: 10%;
    width: 100%;
    min-width: 63rem;
}

.second-div-header{
    /* background-color: #ee82ee; */
    margin: 2rem 25rem 2rem 25rem;
    height: 80%;
    min-width: 39.65rem;
}

.square-big-gray{
    background-color: #1e90ff;
    width: 45rem;
    height: 20rem;
    border: 1px black solid;
    margin-right: 14rem;
    min-width: 22.84rem;
}

.square-big{
    background-color: #1e90ff;
    width: 45rem;
    height: 20rem;
    border: 1px black solid;
    min-width: 22.84rem;
}

.square-small{
    background-color: #ffc0cb;
    width: 30rem;
    height: 20rem;
    border: 1px black solid;
    min-width: 15.25rem;
}

.square-small-gray{
    background-color: #ffc0cb;
    width: 30rem;
    height: 20rem;
    border: 1px black solid;
    margin-left: 14rem;
    min-width: 15.25rem;
}

.dimension-section1{
    height: 30rem;
    padding: 3rem 0;
    justify-content: center;
    align-items: center;
}

#dimension-section1-gray{
    background-color: #d3d3d3;
}

.dimension-section2{
    height: 50rem;
    padding: 3rem 0;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
}

.big-square-of-section2{
    background-color: #228b22;
    width: 75rem;
    height: 40rem;
    border: 1px black solid;
    margin: 0 14rem;
    min-width: 38.2rem;
}

.section-black{
    background-color: #23272a;
    padding: 1rem 14rem 1.5rem 14rem;
}

.rectangle-pink{
    background-color: #f08080;
    width: 20rem;
    align-items: stretch;
    height: 100%;
    border: 1px rgb(255, 255, 255) dashed;
    min-width: 18.74rem;
}

.rectangle-cyan{
    background-color: #20b2aa;
    width: 12rem;
    align-items: stretch;
    height: 100%;
    border: 1px rgb(255, 255, 255) dashed;
    min-width: 11.25rem
}

.section-black-small{
    background-color: #23272a;
    padding: 1rem 14rem 0rem 14rem;
    margin-top: 0.1rem;
    width: 100%;
    justify-content: center;
}

#titolo-principale{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#introduzione{
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: .9rem;
    margin-top: 1.5rem;
    margin-bottom: 1.7rem;
    line-height: 1.4rem;
}

#logo2{
    background-color: #7fffd4;
    width: 50%;
    height: 80%;
    border: 1px rgb(255, 255, 255) dashed;
    justify-content: flex-start;
    padding: .8rem 0;
}

#div-button4{
    background-color: #7fffd4;
    width: 50%;
    height: 80%;
    border: 1px rgb(255, 255, 255) dashed;
    justify-content: flex-end;
    padding: .8rem 0;
}

.div-button2-3{
    text-align: center;
}

#titolo-centrale{
    height: 80%;
    padding: .8rem;
    margin-top: 2rem;
}

#logo{
    width: 20%;
    text-align: start;
    height: 1.6rem;
}

#link{
    width: 80%;
    text-align: center;
    height: 1.6rem;
}

#login{
    width: 20%;
    text-align: end;
    height: 1.6rem;
} 

[href]{
    color: white;
    text-decoration: none;
    vertical-align: middle;
    padding: 0 1rem;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px #23272a ;
}

#button1{
    border: 1px white solid;
    border-radius: 45rem;
    color: black;
    padding: .5rem .6rem;
    font-family: 'Open Sans', sans-serif;
}

#button2{
    border: 1px white solid;
    border-radius: 45rem;
    color: black;
    padding: .5rem .6rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-right: 1rem;
}

#button3{
    border: 1px #23272a solid;
    border-radius: 45rem;
    color: rgb(255, 255, 255);
    padding: .5rem .6rem;
    background-color: #23272a; 
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-left: 1rem;
}